h1{
    color: red;
}
h1 + p {
    font-size: 200%;
}
p,li{
    color: green;
}
p span {
    color: red; 
}
li{
    list-style-type:none;
}
li em {
    color: rebeccapurple;
}

.special {
    color: orange;
    font-weight: bold;
  }

a:link {
    color: pink;
}
a:visited {
    color: green;
}
